<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
 
  <connectionStrings>
    <add name="Auth" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\DY01\Downloads\RoleManagementsystem--Asp.NET-MVC5-master (1)\RoleManagementsystem--Asp.NET-MVC5-master\Role Management System\App_Data\Authenticate.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Management" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\DY01\Downloads\RoleManagementsystem--Asp.NET-MVC5-master (1)\RoleManagementsystem--Asp.NET-MVC5-master\Role Management System\App_Data\ManagementSystem.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AuthenticateEntities" connectionString="metadata=res://*/DataServices.AuthModel.csdl|res://*/DataServices.AuthModel.ssdl|res://*/DataServices.AuthModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\DY01\Downloads\RoleManagementsystem--Asp.NET-MVC5-master (1)\RoleManagementsystem--Asp.NET-MVC5-master\Role Management System\App_Data\Authenticate.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ManagementSystemEntities" connectionString="metadata=res://*/DataServices.ManagementModel.csdl|res://*/DataServices.ManagementModel.ssdl|res://*/DataServices.ManagementModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\DY01\Downloads\RoleManagementsystem--Asp.NET-MVC5-master (1)\RoleManagementsystem--Asp.NET-MVC5-master\Role Management System\App_Data\ManagementSystem.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AuthenticateEntities1" connectionString="metadata=res://*/DataServices.AuthModel.csdl|res://*/DataServices.AuthModel.ssdl|res://*/DataServices.AuthModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\DY01\Downloads\RoleManagementsystem--Asp.NET-MVC5-master (1)\RoleManagementsystem--Asp.NET-MVC5-master\Role Management System\App_Data\Authenticate.mdf&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1440" />
      
      <!-- Time out in minutes 1440 mins = 1 day -->
    </authentication>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages></system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUrunServis" />
        <binding name="BasicHttpBinding_IUyeServis" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.monorisa.com/servis/UrunServis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis"
        contract="ServiceReference1.IUrunServis" name="BasicHttpBinding_IUrunServis" />
      <endpoint address="http://www.monorisa.com/servis/UyeServis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis"
        contract="ServiceReference2.IUyeServis" name="BasicHttpBinding_IUyeServis" />
    </client>
  </system.serviceModel>
</configuration>
